.form {
  background-color: white;
  width: 60%;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 25px;
  margin-top: 50px;
}
.crazyInput {
  border: none;
  width: 100%;
  outline: none;
  color: black;
  font-size: 20px;
}
.crazyButton {
  border: none;
  background-color: black;
  color: white;
  padding: 15px;
  width: 100px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}
.flex {
  display: flex;
}
@media(max-width:800px){
  .form{
    width: 80%;
  }
}
